{% extends 'base.html.twig' %}

{% block title %}LibShop - Votre panier{% endblock %}

{% block content %}

<h2>Recapitulatif de votre paier</h2>

<h3>Prix à payer : {{ app.user.basket.totalPrice }} €</h3>

<p>
    <a href="{{ path('app_frontend_basket_pay') }}">Payer</a>
</p>

<h3>Votre commande :</h3>

<div class="grid">
    {% for book in app.user.basket.books %}
        <a href="{{ path('app_frontend_book_display', {id: book.id}) }}" class="grid--item grid--item--book">
            <div class="img-container">
                <img src="{{ book.images[0] }}" alt="{{ book.title }}" />
            </div>
            <div class="info-container">
                <p class="book-title">
                    {{ book.title }}
                </p>
                <p class="book-author">
                    Par {{ book.author.name }}
                </p>
                <p class="book-price">
                    {{ book.price }} €
                </p>
                {% if app.user %}
                    <p class="book-basket">
                        {% if app.user.basket.hasBook(book) %}
                            <button data-href="{{ path('app_frontend_basket_remove', {id: book.id}) }}" onClick="handleButtonLink(event);">Enlever du panier</button>
                        {% else %}
                            <button data-href="{{ path('app_frontend_basket_add', {id: book.id}) }}" onClick="handleButtonLink(event);">Ajouter au panier</button>
                        {% endif %}
                    </p>
                {% endif %}
            </div>
        </a>
    {% endfor %}
</div>

{% endblock %}
