<div class="app--menu--item">
	<a href="{{ path('app_frontend_home_index') }}">
		Accueil
	</a>
</div>

<div class="app--menu--item">
	<a href="{{ path('app_admin_user_index') }}" class="app--menu--item">
		Utilisateurs
	</a>
</div>

<div class="app--menu--item">
	<a href="{{ path('app_admin_kind_index') }}" class="app--menu--item">
		Genres
	</a>
</div>

<div class="app--menu--item">
	<a href="{{ path('app_admin_author_index') }}" class="app--menu--item">
		Auteurs
	</a>
</div>

<div class="app--menu--item">
	<a href="{{ path('app_admin_book_index') }}" class="app--menu--item">
		Livres
	</a>
</div>

<div class="app--menu--item">
	<a href="{{ path('app_admin_order_index') }}" class="app--menu--item">
		Commandes
	</a>
</div>