{% extends 'base.html.twig' %}

{% block title %}LibShop - {{ author.name }}{% endblock %}

{% block content %}
<h1>{{ author.name }}</h1>

<p>
    <img src="{{ author.images[0] }}" alt="{{ author.name }}" />
</p>

<p>{{ author.description }}</p>

<h3>Ses deniers livres</h3>

<div class="grid">
    {% for book in author.books[:10] %}
        <a href="{{ path('app_frontend_book_display', {id: book.id}) }}" class="grid--item grid--item--book">
            <div class="img-container">
                <img src="{{ book.images[0] }}" alt="{{ book.title }}" />
            </div>
            <div class="info-container">
                <p class="book-title">
                    {{ book.title }}
                </p>
                <p class="book-author">
                    Par {{ book.author.name }}
                </p>
                <p class="book-price">
                    {{ book.price }} €
                </p>
            </div>
        </a>
    {% endfor %}
</div>
{% endblock %}
