{% extends 'base.html.twig' %}

{% block title %}Liste des pizzas{% endblock %}

{% block body %}

<a href="{{ path('app_admin_pizza_create') }}">Créer une nouvelle pizza</a>

{% for pizza in pizzas %}
    <p>
        La pizza {{ pizza.name }} est à {{ pizza.price }}€
        <a href="{{ path('app_admin_pizza_update', { id: pizza.id}) }}">Modifier</a>
        <a href="{{ path('app_admin_pizza_delete', { id: pizza.id}) }}">Supprimer</a>
    </p>
{% endfor %}

{% endblock %}
