{% extends 'admin/base_admin.html.twig' %}

{% block title %}Liste des ingrédients{% endblock %}

{% block content %}

<h1>Liste des ingrédients</h1>

<a href="{{ path('app_admin_ingredient_create') }}">Créer un nouvel ingrédient</a>

<hr />

{% for ingredient in ingredients %}
    <div>
        <p>L'ingrédient {{ ingredient.name }} est a {{ ingredient.price }} €</p>
        <a href="{{ path('app_admin_ingredient_update', { id: ingredient.id }) }}">Modifier cet ingrédient</a>
        <a href="{{ path('app_admin_ingredient_delete', { id: ingredient.id }) }}">Supprimer cet ingrédient</a>
    </div>
    <hr />
{% endfor %}

{% endblock %}
