{% extends 'front/front.html.twig' %}

{% block title %}Library Shop - Accueil{% endblock %}

{% block content %}
<h1>Accueil</h1>

<p>
Bienvenue sur Library Shop, le site de vente de livres entre particuliers.
</p>

<h2>Les derniers livres</h2>

<div class="grid">
    {% for book in books %}
        <a class="thumb book" href="{{ path('app_front_book_show', { id: book.id, slug: book.slug }) }}">
            <img src="{{ book.image }}" alt="{{ book.title }}" />
            <p>{{ book.title }}</p>
            <p>{{ book.shortDescription }}</p>
            <p>{{ book.price }} €</p>
        </a>
    {% endfor %}
</div>

<h2>Les derniers auteurs</h2>

<div class="grid">
    {% for author in authors %}
        <a class="thumb book" href="{{ path('app_front_author_show', { id: author.id, slug: author.slug }) }}">
            <img src="{{ author.image }}" alt="{{ author.firstname }} {{ author.lastname }}" />
            <p>{{ author.firstname }} {{ author.lastname }}</p>
        </a>
    {% endfor %}
</div>

<h2>Les dernieres catégories</h2>

<div class="grid">
    {% for category in categories %}
        <a class="thumb book" href="{{ path('app_front_book_search', { category: category.title }) }}">
            <p>{{ category.title }}</p>
        </a>
    {% endfor %}
</div>
{% endblock %}
