{% extends 'front/front.html.twig' %}

{% block title %}Library Shop - {{ book.title }}{% endblock %}

{% block content %}
<h1>{{ book.title }} </h1>

<p>
    <a href="{{ path('app_front_home_index') }}">Retour</a>
</p>

{% if app.user and app.user.id == book.dealer.id %}
    <p>
        <a href="{{ path('app_front_book_modify', { id: book.id, slug: book.slug }) }}">Modifier le livre</a>
    </p>
    <p>
        <a href="{{ path('app_front_book_delete', { id: book.id }) }}">Supprimer le livre</a>
    </p>
{% endif %}

<p>
    <img src="{{ book.image }}" alt="{{ book.title }}" />
    {{ book.description }}
</p>

<ul>
    <li>Prix : {{ book.price }}</li>
    <li>Auteur : 
        <a href="{{ path('app_front_author_show', { id: book.author.id, slug: book.author.slug }) }}">
            {{ book.author.fullName }}
        </a>
    </li>
    <li>Vendu par : 
        <a href="{{ path('app_front_user_showDealer', { id: book.dealer.id }) }}">
        {{ book.dealer.email }}
        </a>
    </li>
</ul>

<p>
    <a href="{{ path('app_front_home_index') }}">Retour</a>
</p>


{% endblock %}
