{% extends 'front/front.html.twig' %}

{% block title %}Library Shop - {{ author.firstname }} {{ author.lastname }}{% endblock %}

{% block content %}
<h1>{{ author.firstname }} {{ author.lastname }}</h1>

<p>
    <a href="{{ path('app_front_home_index') }}">Retour</a>
</p>

<p>
    <img src="{{ author.image }}" alt="{{ author.fullName }}" />
    {{ author.description }}
</p>

<h2>Ses derniers livres</h2>

<div class="grid">
    {% for book in author.books %}
        <a class="thumb book" href="{{ path('app_front_book_show', { id: book.id, slug: book.slug }) }}">
            <img src="{{ book.image }}" alt="{{ book.title }}" />
            <p>{{ book.title }}</p>
            <p>{{ book.shortDescription }}</p>
            <p>{{ book.price }} €</p>
        </a>
    {% endfor %}
</div>


{% endblock %}
