{% extends 'base.html.twig' %}

{% block title %}LibShop - {{ book.title }}{% endblock %}

{% block content %}
<p>
    <a href="{{ path('app_frontend_home_index') }}">Retour</a>
</p>

<h1>{{ book.title }}</h1>

<p>
    <a href="{{ path('app_frontend_basket_add', {id: book.id}) }}">Ajouter au panier</a>
</p>

<div>
    <img src="{{ book.images[0] }}" alt="{{ book.title }}" />
</div>

<p>Autheur : {{ book.author.name }}</p>
<p>Genre : {{ book.kind.name }}</p>
<p>Prix : {{ book.price }} €</p>
{% endblock %}
