{% extends 'base.html.twig' %}

{% block title %}LibShop - Rechercher{% endblock %}

{% block content %}

<h1>Rechecher des livres</h1>

{{ form(form) }}

<div class="grid">
    {% for book in books %}
        <a href="{{ path('app_frontend_book_display', {id: book.id}) }}" class="grid--item grid--item--book">
            <div class="img-container">
                <img src="{{ book.images[0] }}" alt="{{ book.title }}" />
            </div>
            <div class="info-container">
                <p class="book-title">
                    {{ book.title }}
                </p>
                <p class="book-author">
                    Par {{ book.author.name }}
                </p>
                <p class="book-price">
                    {{ book.price }} €
                </p>
            </div>
        </a>
    {% endfor %}
</div>

{% endblock %}